body {
    background-image: url("../Images/background.png");
    background-repeat: repeat;
    background-size: 300px 300px;
    font-size: 14px;
    background-size: 150px 150px;
}

@font-face {
    font-family: hacked;
    src: url("https://www.urbanfonts.com/fonts/HACKED.font");
}

.head {
    font-family: "hacked";
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#username {
    font-size: 40px;
    text-shadow: 5px 5px 5px grey;
    margin-left: 30%;
}

.login {
    transform: translate(-50% -50%);
    box-sizing: border-box;
    position: absolute;
    background: rgba(167, 167, 167, 0.2);
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    left: 30%;
    right: 30%;
    height: auto;
    width: auto;
    border-radius: 10%;
}

#password {
    font-size: 40px;
    text-shadow: 5px 5px 5px grey;
    margin-left: 30%;
}

.login-image {
    margin-left: 35%;
    margin-top: -60px;
    height: 120px;
    width: 120px;
}

.username {
    margin-left: 30%;
    padding: 2%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.5) inset;
    color: black;
}

.password {
    margin-left: 30%;
    padding: 2%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.5) inset;
    color: black;
}

#login-button {
    margin-left: 40%;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 30%;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.5) inset;
}

#forgotten {
    margin-left: 35%;
    color: black;
    margin-bottom: 20px;
}

.footer {
    font-size: 20px;
    color: black;
    text-align: right;
    margin-top: 50%;
    background-color: rgba(182, 174, 174, 0.74);
    border-radius: 10px;
}

.quote {
    font-size: 20px;
    font-family: Hacked;
}

#login-button:hover {
    font-family: "hacked";
    font-size: 15px;
}

#new-user {
    margin-top: 40%;
}

.new-user {
    box-sizing: border-box;
    border-color: rgb(11, 124, 11) dashed;
    border-width: 5px;
    padding: 5px;
}