body {
    background-image: url("../Images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: none;
    background-attachment: fixed;
    background-size: cover;
}

#Login-section {
    box-shadow: 5px 5px 5px white;
}

span {
    font-family: HACKED;
    margin: 20px;
    font-size: 45px;
    text-shadow: 5px 5px 5px grey;
    font-size: 100px;
    color: rgb(240, 236, 40);
}

img {
    height: 75px;
    width: 200px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#button {
    padding: 5px;
    border-radius: 20%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#username:hover {
    font-size: 25px;
}

#username {
    box-shadow: 5px 5px 5px black;
    font-size: 20px;
    border-bottom: 5px;
    border-radius: 10px;
}

#password:hover {
    font-size: 25px;
}

#password {
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px;
    border-bottom: 5px;
}

#button:hover {
    font-size: 15px;
    color: black;
}

marquee {
    color: white;
    text-shadow: 5px 5px 5px grey;
}

#signup {
    border-width: 5px solid;
    border-color: black;
    box-shadow: 5px 5px 5px white;
    color: rgb(255, 255, 255);
}